body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 26px;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SEARCH BAR */

form {
  display: flex;
  justify-content: center; 
  margin: 1em 0;
}

input {
  width: 210px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
}

.fa-search {
  position: relative;
  right: 23px;
  top: 8px;
  cursor: pointer;
}

/* TITLE */
.title {
  display: flex;
  justify-content: center;
  background: #000;
  color: white;
  width: 130px;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 1em;
  padding: 5px;
  cursor: pointer;
}

/* NUTRIENTS CARD */
table, td, th {
  border: 1px solid black;
  padding-left: 5px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

th {
  height: 20px;
}

tbody:nth-child(even) {background-color: #f3f3f3;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 2%;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.macros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border: solid;
}

/* MEAL CARDS */

h1 {
  font-size: 16px;
}

.meal-card-flex {
  display: flex;
  justify-content: center;
}

.meal-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  text-align: center;
  margin: 1em;
}

.meal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.meals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: auto;
}

/* LOADER */

.loader {
  margin: 3em auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* BUTTON */

.recipe-link {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  margin-bottom: 1em;
  border-radius: 2px;
}

.recipe-link:hover, a:hover, .title:hover {
  opacity: 0.7;
}


/* MEDIA QUERY */

@media only screen and (max-width: 830px) {
  .meals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .meals {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1100px;
    margin: auto;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
}